@page "/Pages/Baseball"
@model IndexModel
@{
    ViewData["Title"] = "Baseball page";
}

<html lang="en-us">
    <body>
        
        <h1>The History of Baseball</h1>
        <img src="/Images/babe-ruth.jpg" class="baberuth"/>
    <div class="baseballessay">
        <p>
        &emsp; Baseball, often referred to as America's pastime, has a rich and storied history that spans over a century. It traces its roots back to the mid-19th century when a game called "town ball" was played in rural America. However, it was in the 1860s that baseball began to take its recognizable form.
        </p>
        <p>
        &emsp; The first recorded baseball game took place on June 19, 1846, in Hoboken, New Jersey. From there, the sport gained popularity and evolved into a structured game with established rules. The Knickerbocker Base Ball Club, founded in 1845, played a significant role in formalizing the game's regulations.
        </p>
        <p>
        &emsp; In the 1860s and 1870s, professional baseball emerged with the formation of the National Association of Professional Base Ball Players in 1871. However, it was short-lived and was replaced by the more successful National League in 1876. Over the years, additional leagues were established, including the American League in 1901.
        </p>
        <p>
        &emsp; Baseball's popularity soared in the early 20th century, becoming an integral part of American culture. It witnessed legendary players like Babe Ruth, Ty Cobb, and Lou Gehrig, who became icons of the sport. The sport also endured challenging times, such as the infamous "Black Sox" scandal in 1919, which tainted the game's integrity.
        </p>
        <img src="/Images/baseballStadium.jpg" class="baseballfield" />
        <p>
        &emsp; Baseball continued to evolve, embracing innovations such as night games, divisional playoffs, and the introduction of the designated hitter in the American League. Historic moments like Jackie Robinson breaking the color barrier in 1947 and Mariano Rivera becoming the first unanimous Hall of Fame inductee added to baseball's cultural significance.
        </p>
        <p>
        &emsp; Today, baseball remains one of the most beloved sports in the United States, with a global following. It has produced unforgettable moments, fierce rivalries, and a sense of community among fans. Its enduring legacy as a sport that embodies skill, strategy, and tradition ensures that baseball will continue to captivate audiences for generations to come.
        </p>
        </div>
    </body>
</html>